section.notifications {
  background-color: #5e5c6c;
  display: flex;

  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;

  div.controls {
    display: flex;
    justify-content: space-between;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    button {
      color: #d7d9b1;
      display: flex;
      width: 45%;

      justify-content: space-around;
      align-items: center;

      i {
        font-size: 1.3em;
        padding: 0 0.5em;
        color: #d7d9b1;
      }
    }
  }

  div.allData {
    overflow-y: scroll;
    height: calc(100% - 50px);
    box-sizing: border-box;
    padding-bottom: 1em;
  }
}

section.notifications ul.record-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 700px;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 0.5em 1em;
    background-color: #5f5566;
    color: #d7d9b1;

    border: 1px solid #d7d9b1;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.3em;

    div.left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70px;

      i {
        font-size: 30px;
      }
    }

  }

  div.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div.upper {
      display: flex;
      align-items: center;
      text-align: right;
      justify-content: flex-end;

      i {
        padding-left: 1em;
        font-size: 30px;
      }

      h3 {
        margin: 0;
      }


    }

    div.lower {
      text-align: right;

      p {
        margin: 0;
        padding: 0.5em 0;
      }

      span {
        padding-left: 1em;
      }
    }
  }
}

.nodata {
  color: #d7d9b1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}