section.main {
  height: 100%;
  background-color: #5e5c6c;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  div.logo {
    height: 200px;
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      padding: 0.5em 0;
      font-size: 2em;
      width: 90%;
      text-align: center;
      background-color: #d7d9b1;
      margin-bottom: 1em;
    }
  }
}